body {
    background-color: #1d2021;
    color: #ebdbb2;
    font-family: "Lucida Console", monospace;
}

a:link {
    color: #83a598;
}

a:visited {
    color: #b16286;
}

.main {
    background-color: #282828;
    text-align: left;
    margin: auto;
    padding: 20px;
    word-wrap: break-word;
    max-width: 900px;
    line-height: 1.2;
}
