* {
    color: #BAA67F;
    box-sizing: border-box;
    cursor: url(https://rarafael.net/assets/cur_norm.webp), auto;
}

a {
    outline: none;
    cursor: url(https://rarafael.net/assets/cur_click.webp), pointer;
}

a:link {
    color: #98BC37;
    cursor: url(https://rarafael.net/assets/cur_click.webp), pointer;
}

a:visited {
    color: #E02C6D;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #3A3632;
    padding-bottom: 100px;
    font-family: "Ubuntu", Serif;
    text-align: justify;
}

details {
    background-color: #1F1F1F;
    padding: 0.3rem;
    max-width: 40rem;
}

summary {
    font-weight: bold;
    background-color: #131313;
    padding: 0.3rem;
    list-style-type: "❥";
    cursor: url(https://rarafael.net/assets/cur_click.webp), pointer;
}

.content {
    max-width: 40rem;
    margin-left: 5rem;
}

.footer {
    position: absolute;
    background-color: #1C1B19;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: left;

    outline-style: solid;
    outline-color: #0E0C0C;

    font-family: "Ubuntu Mono", Mono;
}
