body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: "Lucida Console", monospace;
}

a:link {
    color: #83a598;
}

a:visited {
    color: #b16286;
}

.links {
    text-align: justify;
}

.main {
    text-align: center;
    margin: 0px auto;
}
